@import 'variables';

@mixin pseudo ($content: '', $position: absolute, $display: block) {
  content: $content;
  position: $position;
  display: $display;
}

@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
}

@mixin placeholderHidden {
  &:focus::-webkit-input-placeholder {
    color: transparent;
  }
  &:focus::-moz-placeholder {
    color: transparent;
  }
  &:focus:-moz-placeholder {
    color: transparent;
  }
  &:focus:-ms-input-placeholder {
    color: transparent;
  }
}


// для mobile first
@mixin breakpoint($class) {
  @if $class == lg {
    // @media (min-width: 1440px) {
    //   @content;
    // }
    @media (min-width: 1180px) {
      @content;
    }
  }
  @else if $class == md {
    @media (min-width: 768px) {
      @content;
    }
  }
  @else if $class == sm {
    @media (max-width: 767px) {
      @content;
    }
  }
  @else {
    @warn "Breakpoint mixin supports: el, lg, md, sm";
  }
}

// размер текста h2
@mixin sizeH2 {
  margin: 0;
  font-size: 24px;
  line-height: 32px;
  @include breakpoint(md) {
    font-size: 32px;
    line-height: 48px;
  }
}



