// Paths
$imageDir: '../images/';
$iconDir: '../icons/';
$fontDir: '../fonts/';
$videoDir: '../videos/';

// Grid
$commonWidth: 1020px;
$gutter: 10px;
$allSize: 15px;

// Fonts
$fontRegular: 'AvenirNextCyr-Regular';
$fontMedium: 'AvenirNextCyr-Medium';
$fontBold: 'AvenirNextCyr-Demi';

// Colors
$white: #ffffff;
$black: #000000;
$colorSite: #423f34;
$colorSite2: #8f8871;
$btnMarker: #ffc200;
$hoverBtn: #ffd96a;
$focusBtn: #ffe495;
$hoverBtnBrown: #655d4e;
$colorLink: #0032c8;
$colorLinkActive: #0040ff;
$colorLinkVisited: #3200ca;
$hoverTab: #eeede9;
$focusTab: #e2e0da;
$bgColor: #f9f9f8;
$colorFilter: #d5d2c9;






 